In [1]:
from requests import request
import urllib.request
import json
from pandas.io.json import json_normalize

import numpy as np
import pandas as pd
import seaborn as sns
import matplotlib.pyplot as plt
import os
%matplotlib inline
plt.style.use('bmh')

In [2]:
response=request(url='https://api.covid19india.org/raw_data.json', method='get')
elevations = response.json()
rec = elevations['raw_data']

In [3]:
df = json_normalize(rec)

In [4]:
df.head()

,agebracket,backupnotes,contractedfromwhichpatientsuspected,currentstatus,dateannounced,detectedcity,detecteddistrict,detectedstate,estimatedonsetdate,gender,nationality,notes,patientnumber,source1,source2,source3,statecode,statepatientnumber,statuschangedate,typeoftransmission
0,20,Student from Wuhan,,Recovered,30/01/2020,Thrissur,Thrissur,Kerala,,F,India,Travelled from Wuhan,1,https://twitter.com/vijayanpinarayi/status/122...,https://weather.com/en-IN/india/news/news/2020...,,KL,KL-TS-P1,14/02/2020,Imported
1,,Student from Wuhan,,Recovered,02/02/2020,Alappuzha,Alappuzha,Kerala,,,India,Travelled from Wuhan,2,https://www.indiatoday.in/india/story/kerala-r...,https://weather.com/en-IN/india/news/news/2020...,,KL,KL-AL-P1,14/02/2020,Imported
2,,Student from Wuhan,,Recovered,03/02/2020,Kasaragod,Kasaragod,Kerala,,,India,Travelled from Wuhan,3,https://www.indiatoday.in/india/story/kerala-n...,https://twitter.com/ANI/status/122422148580539...,https://weather.com/en-IN/india/news/news/2020...,KL,KL-KS-P1,14/02/2020,Imported
3,45,Travel history to Italy and Austria,,Recovered,02/03/2020,East Delhi (Mayur Vihar),East Delhi,Delhi,,M,India,"Travelled from Austria, Italy",4,https://www.indiatoday.in/india/story/not-a-ja...,https://economictimes.indiatimes.com/news/poli...,,DL,DL-P1,15/03/2020,Imported
4,24,"Travel history to Dubai, Singapore contact",,Recovered,02/03/2020,Hyderabad,Hyderabad,Telangana,,M,India,"Travelled from Dubai to Bangalore on 20th Feb,...",5,https://www.deccanherald.com/national/south/qu...,https://www.indiatoday.in/india/story/coronavi...,https://www.thehindu.com/news/national/coronav...,TG,TS-P1,02/03/2020,Imported

In [5]:
df.columns

Index(['agebracket', 'backupnotes', 'contractedfromwhichpatientsuspected',
       'currentstatus', 'dateannounced', 'detectedcity', 'detecteddistrict',
       'detectedstate', 'estimatedonsetdate', 'gender', 'nationality', 'notes',
       'patientnumber', 'source1', 'source2', 'source3', 'statecode',
       'statepatientnumber', 'statuschangedate', 'typeoftransmission'],
      dtype='object')

In [6]:
df.shape

(7757, 20)

In [7]:
data=df.copy()
data.head()

,agebracket,backupnotes,contractedfromwhichpatientsuspected,currentstatus,dateannounced,detectedcity,detecteddistrict,detectedstate,estimatedonsetdate,gender,nationality,notes,patientnumber,source1,source2,source3,statecode,statepatientnumber,statuschangedate,typeoftransmission
0,20,Student from Wuhan,,Recovered,30/01/2020,Thrissur,Thrissur,Kerala,,F,India,Travelled from Wuhan,1,https://twitter.com/vijayanpinarayi/status/122...,https://weather.com/en-IN/india/news/news/2020...,,KL,KL-TS-P1,14/02/2020,Imported
1,,Student from Wuhan,,Recovered,02/02/2020,Alappuzha,Alappuzha,Kerala,,,India,Travelled from Wuhan,2,https://www.indiatoday.in/india/story/kerala-r...,https://weather.com/en-IN/india/news/news/2020...,,KL,KL-AL-P1,14/02/2020,Imported
2,,Student from Wuhan,,Recovered,03/02/2020,Kasaragod,Kasaragod,Kerala,,,India,Travelled from Wuhan,3,https://www.indiatoday.in/india/story/kerala-n...,https://twitter.com/ANI/status/122422148580539...,https://weather.com/en-IN/india/news/news/2020...,KL,KL-KS-P1,14/02/2020,Imported
3,45,Travel history to Italy and Austria,,Recovered,02/03/2020,East Delhi (Mayur Vihar),East Delhi,Delhi,,M,India,"Travelled from Austria, Italy",4,https://www.indiatoday.in/india/story/not-a-ja...,https://economictimes.indiatimes.com/news/poli...,,DL,DL-P1,15/03/2020,Imported
4,24,"Travel history to Dubai, Singapore contact",,Recovered,02/03/2020,Hyderabad,Hyderabad,Telangana,,M,India,"Travelled from Dubai to Bangalore on 20th Feb,...",5,https://www.deccanherald.com/national/south/qu...,https://www.indiatoday.in/india/story/coronavi...,https://www.thehindu.com/news/national/coronav...,TG,TS-P1,02/03/2020,Imported

In [8]:
data.dtypes

agebracket                             object
backupnotes                            object
contractedfromwhichpatientsuspected    object
currentstatus                          object
dateannounced                          object
detectedcity                           object
detecteddistrict                       object
detectedstate                          object
estimatedonsetdate                     object
gender                                 object
nationality                            object
notes                                  object
patientnumber                          object
source1                                object
source2                                object
source3                                object
statecode                              object
statepatientnumber                     object
statuschangedate                       object
typeoftransmission                     object
dtype: object

In [9]:
#data['agebracket'] = pd.to_numeric(data['agebracket'], errors='coerce')
#data['contractedfromwhichpatientsuspected'] = pd.to_numeric(data['contractedfromwhichpatientsuspected'], errors='coerce')
data['patientnumber'] = pd.to_numeric(data['patientnumber'], errors='coerce')

In [10]:
data['agebracket'] = data['agebracket'].astype('category')
data['currentstatus'] = data['currentstatus'].astype('category')
data['gender'] = data['gender'].astype('category')
data['nationality'] = data['nationality'].astype('category')
data['statecode'] = data['statecode'].astype('category')
data['typeoftransmission'] = data['typeoftransmission'].astype('category')

In [11]:
data['detectedcity'] = data['detectedcity'].astype('category')
data['detecteddistrict'] = data['detecteddistrict'].astype('category')
data['detectedstate'] = data['detectedstate'].astype('category')

In [12]:
data['dateannounced'] = pd.to_datetime(data['dateannounced'])
data['estimatedonsetdate'] = pd.to_datetime(data['estimatedonsetdate'])
data['statuschangedate'] = pd.to_datetime(data['statuschangedate'])

In [13]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 7757 entries, 0 to 7756
Data columns (total 20 columns):
agebracket                             7757 non-null category
backupnotes                            7757 non-null object
contractedfromwhichpatientsuspected    7757 non-null object
currentstatus                          7757 non-null category
dateannounced                          7684 non-null datetime64[ns]
detectedcity                           7757 non-null category
detecteddistrict                       7757 non-null category
detectedstate                          7757 non-null category
estimatedonsetdate                     0 non-null datetime64[ns]
gender                                 7757 non-null category
nationality                            7757 non-null category
notes                                  7757 non-null object
patientnumber                          7757 non-null int64
source1                                7757 non-null object
source2                                7757 non-null object
source3                                7757 non-null object
statecode                              7757 non-null category
statepatientnumber                     7757 non-null object
statuschangedate                       7567 non-null datetime64[ns]
typeoftransmission                     7757 non-null category
dtypes: category(9), datetime64[ns](3), int64(1), object(7)
memory usage: 782.2+ KB

In [14]:
data.describe(include='all')

,agebracket,backupnotes,contractedfromwhichpatientsuspected,currentstatus,dateannounced,detectedcity,detecteddistrict,detectedstate,estimatedonsetdate,gender,nationality,notes,patientnumber,source1,source2,source3,statecode,statepatientnumber,statuschangedate,typeoftransmission
count,7757,7757,7757,7757,7684,7757,7757,7757,0.0,7757,7757,7757,7757.000000,7757,7757,7757,7757,7757,7567,7757
unique,86,223,143,5,44,311,348,33,0.0,3,12,705,NaN,775,337,100,33,1463,41,4
top,,,,Hospitalized,2020-10-04 00:00:00,,,Maharashtra,NaN,,,Details awaited,NaN,,,,MH,,2020-10-04 00:00:00,
freq,6590,7396,6452,7535,871,6760,1709,1574,NaN,5849,6572,3742,NaN,286,5572,7456,1574,6290,871,4933
first,NaN,NaN,NaN,NaN,2020-01-04 00:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2020-01-03 00:00:00,NaN
last,NaN,NaN,NaN,NaN,2020-12-03 00:00:00,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2020-12-03 00:00:00,NaN
mean,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3879.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN
std,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,2239.397352,NaN,NaN,NaN,NaN,NaN,NaN,NaN
min,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN
25%,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,1940.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN
50%,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,3879.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN
75%,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,5818.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN
max,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,7757.000000,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [15]:
data.isnull().sum()

agebracket                                0
backupnotes                               0
contractedfromwhichpatientsuspected       0
currentstatus                             0
dateannounced                            73
detectedcity                              0
detecteddistrict                          0
detectedstate                             0
estimatedonsetdate                     7757
gender                                    0
nationality                               0
notes                                     0
patientnumber                             0
source1                                   0
source2                                   0
source3                                   0
statecode                                 0
statepatientnumber                        0
statuschangedate                        190
typeoftransmission                        0
dtype: int64

In [16]:
data.drop(['estimatedonsetdate'], axis=1, inplace=True)